/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version,not dead,not ie <= 11
*/

/* Variables */
:root {
  --basic-black: #000000;
  --basic-special-black: rgba(0, 0, 0, 0.3);
  --basic-extra-dark-gray: #666666;/* рейтинг */
  --basic-dark-gray: #333333;/* text */
  --basic-gray-line: #e5e5e5;/* линия в каталоге */
  --basic-gray-btn: #a9a9a9;/* + - */
  --basic-gray-toggle: #ababab;/* toggle */
  --basic-gray-modal-hover: #ebebeb;/* hover input */
  --basic-gray: #eeeeee;/* фон */
  --basic-light-gray: #cacaca;/* Кнопка по возрастанию и убыванию */
  --basic-extra-light-gray: #f2f2f2;
  --basic-special-gray: #BDBBBC;/* Лого в футере*/
  --basic-disabled-gray: #6a6a6a;/* disabled в каталоге*/
  --basic-brown: #766357;/* Покой */
  --basic-dark-brown: #604e43;/* Наведение */
  --basic-extra-brown: #503E33;/* Нажатие */
  --basic-blue: #81b3d2;/* Покой, фон */
  --basic-dark-blue: #669ec0;/* Наведение */
  --basic-extra-blue: #5496BD;/* Нажатие */
  --basic-white: #ffffff;
  --basic-special-white: rgba(255, 255, 255, 0.9);
  --basic-special-btn-white: rgba(255, 255, 255, 0.3);
  --basic-special: #888888;/* background */
  --basic-background-box: rgba(0, 1, 1, 0.2); /* box shadow */ 
  --basic-background-form: rgba(0, 1, 1, 0.15); /* form box shadow */
}


/*       Global       */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  min-width: 1220px;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;

  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-extra-light-gray);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.search-form__error {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
}

@-webkit-keyframes shake {
  0%,
  100% {
      transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
      transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
      transform: translateX(10px);
  }
}


/*       Main navigation       */

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px var(--basic-background-box);
}

.header {
  position: relative;
  min-height: 56px;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.header-intro {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 77px;
  padding-bottom: 80px;
  background-image: url("../img/background-photo.jpg");
  background-color: var(--basic-gray);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-intro::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 57px;
  background-image: url("../img/intro-mask.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__nav {
  background-color: transparent;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 17px 0px 15px 0px;
  list-style: none;
  color: var(--basic-black);
  font-weight: 700;
}
.nav__item {
  width: 25%;
}
.nav__item:nth-child(1) {
  padding-left: 73px;
  text-align: left;
}
.nav__item:nth-child(2) {
  text-align: left;
}

.nav__item:nth-child(3) {
  text-align: right;
}

.nav__item:nth-child(4) {
  padding-right: 72px;
  text-align: right;
}

.nav__link {
  color: var(--basic-black);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--basic-dark-blue);
}

.nav__link:active {
  color: var(--basic-black);
  opacity: .3;
  /* Изменить цвет*/
}

.nav__link--active {
  color: var(--basic-brown);
}


/*       advantages       */

.advantage {
  margin-top: 42px;
}

.advantage__slogan {
  text-align: center;
  max-width: 470px;
  margin: 0 auto 43px auto;
  padding: 0;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.advantage__desc {
  width: 900px;
  padding: 0;
  text-align: center;
  margin: 16.5px auto 52px auto;
  line-height: 26px;

}

.advantage-header {
  color: var(--basic-white);
  text-align: center;
  display: flex;
  background-color: var(--basic-blue);
}

.advantage-header__box {
  width: 400px;
  padding: 47px 51px 51px 47px;
}

.advantage-header__title {
  margin: 0 auto;
  padding: 0;
  width: 200px;
  font-weight: 700;
  font-size: 21px;
}

.advantage-header__number {
  display: flex;
  justify-content: center;
  margin: 26px auto 0 auto;
  padding: 0;

}

.advantage-header__text {
  margin: 0;
  margin-top: 24px;
  width: 310px;

}

.advantage-header__image {
  -o-object-fit: cover;
     object-fit: cover;
}

.advantage__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 330px;
}

.advantage__list--gray {
  background-color: var(--basic-gray);
  min-height: 256px;
}

.advantage__item {
  position: relative;
  width: 33.333%;
  text-align: center;
  padding: 140px 55px 30px 55px;
}
.advantage__title {
  display: block;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  margin: 0;
  margin: 0px auto 26px auto;
  max-width: 140px;
}
.advantage__title--main {
  margin-top: 19px;
}

.advantage__number {
  margin: 0;
}

.advantage__text {
  margin: 0;
  padding: 0;
  margin-top: 23px;
}

.advantage__item--list-gray {
  padding: 47px 60px 30px 60px;
}

.advantage__item::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
}

.advantage__item--house::before {
  width: 75px;
  height: 72px;
  background-image: url("../img/icon-house.svg");

}

.advantage__item--box::before {
  width: 64px;
  height: 77px;
  background-image: url("../img/icon-box.svg");
}

.advantage__item--burger::before {
  width: 75px;
  height: 70px;
  background-image: url("../img/icon-burger.svg");
}

.search {
  text-align: center;
  line-height: 24px;
  padding-top: 58px;
}

.search__title {
  font-weight: 700;
  font-size: 30px;
  margin: 0 auto 31px auto;
  max-width: 470px;
  text-align: center;
}

.search__text {
  margin: 0 auto;
  text-align: center;
  max-width: 900px;
}

.search__button {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 30px 139px;
  margin-top: 44px;
  text-align: center;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;

  border: none;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  cursor: pointer;
}

.search__button:hover,
.search__button:focus {
  background-color: var(--basic-dark-brown);
}

.search__button:active {
  outline: none;
  background-color: var(--basic-extra-brown);
  color: var(--basic-special-btn-white);
}

.search__form-container {
  position: relative;
  width: 568px;
  margin: 0 auto;
}

.search-form {
  position: absolute;
  width: 568px;
  height: 395px;
  overflow: hidden;
  pointer-events: none;
}

.search-form--active {
  pointer-events: all;
}

.search-form form {
  width: 100%;
  height: 100%;
  padding: 55px;
  background: var(--basic-white);
  box-shadow: 0px 7px 15px var(--basic-background-form);
  transform: translateY(-100%);
  transition: transform 0.5s;
}

.search-form--active form {
  transform: translateY(0);
}

.search-form__box {
  display: flex;
  position: relative;
  padding: 10px 55 0px 0px;
  margin-bottom: 30px;
  align-items: center;
  font-weight: 700;
}

.search-form__container {
  display: flex;
  justify-content: space-between;
}
.search-form__adult {
  display: flex;
}

.search-form__children {
  display: flex;
}

.search-form__date {
  display: inline-block;
  vertical-align: middle;
  width: 112px;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
}
.search-form input {
  cursor: pointer;
}

.search-form input:hover {
  background-color: var(--basic-gray-modal-hover);
}

.search-form input:focus {
  background-color: var(--basic-white);
  outline: 2px solid var(--basic-gray-line);
}

.search-form__box button {
  position: absolute;
  padding: 0;
  border: none;
  background-image: url("../img/calendar-gray.svg");
  background-repeat: no-repeat;
  background-color: inherit;
  width: 21px;
  height: 23px;
  right: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.search-form__box button:hover,
.search-form__box button:focus {
  background-image: url("../img/calendar-black.svg");
}

.search-form__box button:active {
 background-image: url("../img/calendar-blue.svg");
}

.search-form__box input[type="text"],
.search-form__box input[type="number"] {
  width: 346px;
  height: 37px;
  background-color: var(--basic-extra-light-gray);
  border: none;
  color: var(--basic-black);
  text-transform: uppercase;
  padding: 0 40px 0 12px;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}

.search-form__box input[type="text"]:focus,
.search-form__box input[type="number"]:focus {
  background-color: var(--basic-white);
}

.search-form__adult label {
  margin-right: 40px;
}

.search-form__children label {
  margin-right: 27px;
}

.search-form__adult,
.search-form__children {
  display: flex;
  margin: 0;
  box-sizing: border-box;
  align-items: center;
  font-weight: 700;
}

.search-form__children {
  margin-left: auto;
}

.search-form__box input::-webkit-input-placeholder, .search-form__children-box input::-webkit-input-placeholder, .search-form__adult-box input::-webkit-input-placeholder {
  color: var(--basic-black);
}

.search-form__box input::-moz-placeholder, .search-form__children-box input::-moz-placeholder, .search-form__adult-box input::-moz-placeholder {
  color: var(--basic-black);
}

.search-form__box input::placeholder,
.search-form__children-box input::placeholder,
.search-form__adult-box input::placeholder {
  color: var(--basic-black);
}

.search-form__adult-box input {
  margin: 0;
  width: 38px;
  height: 38px;
  border: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  background-color: var(--basic-extra-light-gray) ;
}

.search-form__children-box,
.search-form__adult-box {
  display: flex;
  width: 114px;
}

.search-form__children-box-btn,
.search-form__adult-box-btn {
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 38px;
  height: 38px;
  margin: 0;
  background-color: var(--basic-extra-light-gray) ;
  cursor: pointer;
}

.search-form__children-box-btn svg,
.search-form__adult-box-btn svg,
.search-form__children-box-btn svg,
.search-form__adult-box-btn svg {
  fill: var(--basic-gray-btn);
}
.search-form__children-box-btn:focus svg,
.search-form__adult-box-btn:focus svg,
.search-form__children-box-btn:focus svg,
.search-form__adult-box-btn:focus  svg 
.search-form__children-box-btn:hover svg,
.search-form__adult-box-btn:hover svg,
.search-form__children-box-btn:hover svg,
.search-form__adult-box-btn:hover svg {
  fill: var(--basic-black);
}

.search-form__children-box-btn:active svg,
.search-form__adult-box-btn:active svg,
.search-form__children-box-btn:active svg,
.search-form__adult-box-btn:active svg {
  fill: var(--basic-blue);
}
.search-form__children-box input {
  margin: 0;
  width: 38px;
  height: 38px;
  border: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  background-color: var(--basic-extra-light-gray) ;
}

.search-form__btn {
  cursor: pointer;
  border: none;
  outline: none;
  width: 100%;
  padding: 0;
  padding: 16px;
  margin: 0;
  margin-top: 53px;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.search-form__btn:hover,
.search-form__btn:focus {
  outline: none;
  background-color: var(--basic-dark-blue);
}

.search-form__btn:active {
  outline: none;
  color: var(--basic-special-btn-white);
  background-color: var(--basic-extra-blue);
}

/*       CATALOG       */

.filter {
  width: 100%;
  background-image: url("../img/background.jpg");
  background-color: var(--basic-gray);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.filter-form-method {
  display: grid;
  grid-template-columns: 73px 254px 273px 200px 200px 127px 73px;
  grid-template-rows: auto;
}
.filter__form {
  color: var(--basic-white);
}
.form--infrastructure {
  grid-column: 2 / 3;

}

.form--housing {
  grid-column: 3/4;

}

.form__title {
  margin: 0;
  margin-bottom: 26px;
  margin-top: 25px;
  font-size: 16px;
  color: var(--basic-white);

}

.form__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 35px;
}

.form__list-item {
  position: relative;
  margin-bottom: 25px;
}

.form__list-item-text {
  margin: 0;
  margin-left: 5px;
  cursor: pointer;
}

.form__list-item-input + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;
  width: 23px;
  height: 23px;
  border: 2px solid var(--basic-white);
  border-radius: 4px;
}

.form__list-item-input:checked + label::after {
  content: "";
  position: absolute;
  top: 0px;
  left: -30px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.form__list-item-input:disabled + label::before,
.form__list-item-input:disabled + label::after {
  opacity: 0.1;
}

.form__list-text {
  text-transform: uppercase;
  color: var(--basic-white);
}

.price__title {
  margin: 0;
  color: var(--basic-white);
  font-size: 16px;
  margin-top: 17px;
}
.price {
grid-column: 5 / 7;
margin-top: 9px;
margin-left: 10px;
}

.price__box {
  display: flex;
  position: relative;
  width: 317px;
  height: 36px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  margin-top: 11px;
}

.price__box::before {
  content: "";
  position: absolute;
  background-color: white;
  width: 2px;
  height: 22px;
  background-position: center;
  left: 50%;
  top: 5px;
}


.price__text {
  font-size: 14px;
  line-height: 21px;
  margin: 0px;
  margin-left: 3px;
  background: none;
  border: none;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
}

.price__text::-webkit-input-placeholder {
  color:var(--basic-white);
}

.price__text::-moz-placeholder {
  color:var(--basic-white);
}

.price__text::placeholder {
  color:var(--basic-white);
}

.price__button {
  color: var(--basic-white);
  text-transform: uppercase;
  width: 137px;
  min-height: 36px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  background-color: transparent;
  padding: 5px 35px 7px 34px;
  margin-top: 33px;
  margin-left: 85px;
  margin-bottom: 32px;
  cursor: pointer;
}

.price__button:hover,
.price__button:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}
.price__range {
  grid-column: 6 / 8;
  position: relative;
  margin-top: 20px;
}
.price__range-scale {
  height: 2px;
  background-color: var(--basic-special-btn-white);
}

.price__range-scale-bar {
  width: 80%;
  height: 2px;
  background-color: var(--basic-white);
}

.price__range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  padding: 2px;
  background-color: var(--basic-gray-toggle);
  border: 7px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0  var(--basic-gray-toggle);
  cursor: pointer;
}
.price__range-toggle:hover {
  border: 8px solid var(--basic-white);
  padding: 2px;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0  var(--basic-gray-toggle);

}

.price__range-toggle--min{
  left: 0px;
}

.price__range-toggle--max {
  left: 254px;
}

.hotel__sort{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 31px;
  border-bottom: 0.1px solid var(--basic-light-gray);
  padding-left: 73px;
  padding-right: 73px;
  padding-bottom: 35px;
}

.hotel__sort-result {
  margin: 0;
  padding: 0;
  font-size: 21px;
  font-weight: 700;
  justify-content: space-between;

}

.hotel__sort-title {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin-left: 47px;
  margin-bottom: 1px;
}


.hotel__sort-list {
  list-style: none;
  outline: none;
  margin: 0;
  display: flex;
  flex-grow: 1;
}
.hotel__sort-list li:nth-child(2) {
  padding-left: 32px;
}

.hotel__sort-list li:nth-child(3) {
  padding: 0 33px;
}

.hotel__sort-list-link {
  display: flex;
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black);
  opacity: 0.3;
  border-bottom: 1px dashed var(--basic-blue);
}


.hotel__sort-list-link:hover,
.hotel__sort-list-link:focus {
  border-bottom: 1px dashed;
  color: var(--basic-blue);
}

.hotel__sort-list-link:active {
  color: var(--basic-black);
  border-bottom: none;
}

.hotel__sort-list-link--active {
  border-bottom: none;
  color: var(--basic-blue);
  pointer-events: none;
}

.hotel__sort-pick {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.hotel__sort-pick li{
  margin: 0;
  margin-top: 7px;
  margin-right: 12px;
}

.hotel__sort-pick li:last-child{
  margin-right: 0;
}

.hotel__sort-pick-link {
  display: flex;
}

.hotel__sort-pick-link--down {
  transform: rotate(-180deg);
}

.hotel__sort-pick-link svg {
  fill: var(--basic-light-gray);
}

.hotel__sort-pick-link:hover svg {
  fill:var(--basic-black);
}

.hotel__sort-pick-link:active svg {
  fill: var(--basic-blue);
}

.hotel__sort-pick-link--active {
  pointer-events: none;
}

.hotel__sort-pick-link--active svg {
  fill: var(--basic-blue);
}

.hotel__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotel__list-item {
  display: flex;
  margin: 0;
  border-bottom: 0.1px solid var(--basic-light-gray);
  padding: 28px 73px 30px 73px;
  justify-content: space-between;
}

.hotel__list-item-info {
  margin: 0;
  padding: 0;
  flex-grow: 1;
  margin-left: 29px;
}

.hotel__list-box {
  margin: 0;
  padding: 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin-top: -5px;
  max-width: 400px;
}

.hotel__list-title {
  color: var(--basic-black);
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
}

.hotel__list-text {
  color: var(--basic-dark-gray);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 17px;
  margin-top: 7px;
}

.hotel__list-text span {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  width: 112px;
}
.hotel__list-title:hover,
.hotel__list-title:focus {
  color: var(--basic-blue);
}

.hotel__list-title:active {
  outline: none;
  color: var(--basic-special-black);
}

.hotel__list-btn-blue {
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 700;
  padding: 6px 16px 5px 17px;
  background-color: var(--basic-blue);
  border: none;
  cursor: pointer;
  max-width: 200px;
}

.hotel__list-btn-blue:hover,
.hotel__list-btn-blue:focus {
  background-color: var(--basic-dark-blue);
}

.hotel__list-btn-blue:active {
  outline: none;
  color: var(--basic-special-btn-white);
  background-color: var(--basic-extra-blue);
}

.hotel__list-btn-brown {
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 700;
  padding: 6px 16px 5px 17px;
  margin-left: 3px;
  background-color: var(--basic-brown);
  border: none;
  cursor: pointer;
  max-width: 200px;
}

.hotel__list-btn-brown:hover,
.hotel__list-btn-brown:focus {
  outline: none;
  background-color: var(--basic-dark-brown);
}

.hotel__list-btn-brown:active {
  outline: none;
  color: var(--basic-special-btn-white);
  background-color: var(--basic-extra-brown);
}

.hotel-rating {
  margin: 0;
  padding: 0;
}
.hotel-rating__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 2px;
  max-width: 300px;
  justify-content: flex-end;
}

.hotel-rating__list-item {

  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
  margin-left: 6px;
  margin-bottom: 5px;
}

.hotel-rating__result {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  margin-top: 48px;
  padding: 3px 12px 3px 15px;
  color: var(--basic-extra-dark-gray);
  background-color: var(--basic-extra-light-gray);
}

/*           FOOTER:           ; */

.footer {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
  padding: 23px 125px 42px 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer--main {
  position: absolute;
  bottom: 0;
  background-color: var(--basic-special-white);
}
.number {
  max-width: 240px;
  margin-left: 0px;
}
.number__text {
  font-weight: 700;
  font-size: 21px;
  margin: 0;
  margin-bottom: 14px;
  display: grid;
  text-align: center;
}

.number__link {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 21px;
  text-transform: uppercase;
  color: var(--basic-blacl);
}

.social {
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  text-align: center;
  list-style: none;
  margin: 11px 27px 0 20px;
}

.social__item {
  display: flex;
  margin-right: 6px;
}

.social__item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
}

.social__item-link {
  outline: none;
  background-color: var(--basic-blue);
  border: none;
}

.social__item-link:hover,
.social__item-link:focus {
  outline: none;
  background-color: var(--basic-dark-blue);
}

.social__item-link:active {
  outline: none;
  background-color: var(--basic-extra-blue);
}

.social__item-link:active img {
  outline: none;
  opacity: 0.3;
}

.copyright {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-right: 13px;
  margin-bottom: 2px;
  margin-top: 16px;
}

.copyright__link {
  margin: 0;
  padding: 0;
  margin-left: 8px;
  margin-bottom: 4px;
  width: 114px;
  height: 40px;
  fill: var(--basic-black);
}

.copyright__link svg {
  fill: var(--basic-black);
}

.copyright__link:hover svg {
  fill: var(--basic-blue);
}

.copyright__link:active svg {
  fill: var(--basic-special-gray);
}