/* Variables */
:root {
  --basic-black: #000000;
  --basic-extra-dark-gray: #666666;   /* рейтинг */
  --basic-dark-gray: #333333;   /* text */
  --basic-gray: #eeeeee;   /* фон */
  --basic-light-gray: #cacaca;   /* Кнопка по возрастанию и убыванию */
  --basic-extra-light-gray: #f2f2f2;
  --basic-special-gray: #BDBBBC; /* Лого в футере*/
  --basic-brown: #766357;   /* Покой */
  --basic-dark-brown: #604e43;   /* Наведение */
  --basic-extra-brown: #503e33;   /* Нажатие */
  --basic-blue: #81b3d2;   /* Покой, фон */
  --basic-dark-blue: #669ec0;   /* Наведение */
  --basic-extra-blue: #669ec0;   /* Нажатие */
  --basic-white: #ffffff;
  --basic-special-white: rgba(255,255,255,0.9);
  --basic-special: #888888; /*  Разве этот цвет у background? <<<<<<<<<<<<<<<<<<<<<<<<<<<< */
}


/*       Global       */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  min-width: 1220px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-extra-light-gray);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

  .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

  .search-form {
    display: none;
  }



/*       Main navigation       */
/*       Main navigation       */
/*       Main navigation       */
/*       Main navigation       */
/*       Main navigation       */
/*       Main navigation       */





.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.header {
  position: relative;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.header__intro {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 77px;
  padding-bottom: 80px;
  background-image: url("img/background-photo.jpg");
  background-color: var(--basic-gray);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__intro::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 57px;
  background-image: url("img/intro-mask.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__nav {
  background-color: transparent;
}

.nav__list {
  list-style: none;
  color: var(--basic-black);
  font-weight: 700;
  margin: 0;
  padding: 15px 72px 15px 72px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.nav__link {
  color: var(--basic-black);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--basic-dark-blue);
}

.nav__link:active {
  color: var(--basic-black);
  opacity: .3;
  /* Изменить цвет*/
}
.nav__link--active {
  color: var(--basic-brown);
}





/*       advantages       */
/*       advantages       */
/*       advantages       */
/*       advantages       */
/*       advantages       */
/*       advantages       */


.advantages {
  margin-top: 42px;
}

.advantages__slogan {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  max-width: 470px;
  margin: 0 auto;
}

.advantages__desc {
  text-align: center;
  margin-top: 16px;
  line-height: 26px;
}


.advantage {
  color: var(--basic-white);
  text-align: center;
  display: flex;
}

.advantage--blue {
  background-color: var(--basic-blue);
}

.advantage__box {
  width: 400px;
  height: 256px;
  padding: 47px 51px 54px 51px;
}

.advantage__title {
  font-weight: 700;
  font-size: 21px;
}

.advantage__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
}

.advantage__list--gray {
  background-color: var(--basic-gray);
}

.advantage__item {
  position: relative;
  text-align: center;
  padding: 150px 60px 30px 60px;
}

.advantage__item::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
}

.advantage-item--icon-house::before {
  width: 75px;
  height: 72px;
  background-image: url("img/icon-house.svg");

}

.advantage-item--icon-box::before {
  width: 64px;
  height: 77px;
  background-image: url("img/icon-box.svg");
}

.advantage-item--icon-burger::before {
  width: 75px;
  height: 70px;
  background-image: url("img/icon-burger.svg");
}

.search {
  text-align: center;
  line-height: 24px;
}
.search__title {
  font-weight: 700;
  font-size: 30px;
}

.search__button {
  width: 568px;
  height: 86px;
  text-align: center;
  text-transform: uppercase;
  font-size: 21px;
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

.search__button:hover,
.search__button:focus {
  background-color: var(--basic-dark-brown);
}

.search__button:active {
  background-color: var(--basic-extra-brown);
}







/*       CATALOG       */
/*       CATALOG       */
/*       CATALOG       */
/*       CATALOG       */
/*       CATALOG       */
/*       CATALOG       */
/*       CATALOG       */




.filter {
  width: 100%;
  background-image: url("img/background.jpg");
  background-color: var(--basic-gray);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.filter-form-method {
  display: flex;
  justify-content: space-between;
  padding: 50px 40px;
}

.form {
  color: var(--basic-white);
}

.form__title {
  color: var(--basic-white);
  font-size: 16px;
}

.form__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__list--text {
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: transparent;
  border:0;

}
.price__title {
  color: var(--basic-white);
  font-size: 16px;
}

.price__box {
  width: 317px;
  height: 36px;
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
}

.price__buttom {
  color: var(--basic-white);
  text-transform: uppercase;
  width: 137px;
  height: 36px;
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
  background-color: transparent;
}

.hotel-sort__result {
  font-size: 21px;
  font-weight: 700;
}

.hotel-sort__title {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.hotel-sort__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotel-sort__list-link {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black);
  opacity: 0.3; /* Задать цвет */
  border-bottom: 1px dashed var(--basic-blue);
}
.hotel-sort__list-link:hover,
.hotel-sort__list-link:focus {
  border-bottom: 1px dashed;
  color: var(--basic-blue);
}
.hotel-sort__list-link:active {
  color: var(--basic-black);
  border-bottom: none;
}
.hotel-sort__list-link--active {
  border-bottom: none;
  color: var(--basic-blue);
}
.hotel-sort__pick {
  margin: 0;
  padding: 0;
}
.hotel-sort__pick {
  color: var(--basic-light-gray);
}
.hotel-sort__pick:focus,
.hotel-sort__pick:hover {
  color: var(--basic-black);
}
.hotel-sort__pick:active {
  color: var(--basic-blue);
}
.hotel-sort__pick-up::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  background-image: url("img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-color: var(--basic-light-gray);

}

.hotel-sort__pick-down::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  background-image: url("img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-color: var(--basic-blue);
}




.hotel__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotel__list-box {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.hotel__list-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.hotel__list-text {
  color: var(--basic-dark-gray);
}
  .hotel__list-btn-blue {

    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: 700;
    width: 110px;
    height: 27px;
    background-color: var(--basic-blue);
    border: none;
  }

  .hotel__list-btn-blue:hover,
  .hotel__list-btn-blue:focus {
    background-color: var(--basic-dark-blue);
  }

  .hotel__list-btn-blue:active {
    background-color: var(--basic-extra-blue);
  }

  .hotel__list-btn-brown {
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: 700;
    width: 142px;
    height: 27px;
    background-color: var(--basic-brown);
    border: none;
  }

  .hotel__list-btn-brown:hover,
  .hotel__list-btn-brown:focus {
    background-color: var(--basic-dark-brown);
  }

  .hotel__list-btn-brown:active {
    background-color: var(--basic-extra-brown);
  }

  .hotel-rating__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .hotel-rating__list-item {
    background-image: url("img/star.svg");
    background-repeat: no-repeat;
    width: 18px;
    height: 17px;
    margin-right: 6px;
  }

  .hotel-rating__result {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 27px;
    color: var(--basic-extra-dark-gray);
    background-color: var(--basic-extra-light-gray);
  }


  /*           FOOTER:           ; */
  /*           FOOTER:           ; */
  /*           FOOTER:           ; */
  /*           FOOTER:           ; */
  /*           FOOTER:           ; */
  /*           FOOTER:           ; */


  .footer {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--basic-white);
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer--main {
    position: absolute;
    bottom: 0;
    background-color: var(--basic-special-white);
  }

  .number__text {
    font-weight: 700;
    font-size: 21px;
    margin-top: 23px;
    margin-bottom: 36px;
  }

  .number__link {
    font-weight: 700;
    font-size: 21px;
    text-transform: uppercase;
    color: var(--basic-blacl);
  }

  .social {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    text-align: center;
    list-style: none;
    margin-top: 36px;
    margin-bottom: 36px;
  }

  .social__item {
    display: flex;
    margin-right: 10px;
  }

  .social__item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 48px;
  }

  .social__item-link {
    background-color: var(--basic-blue);
    border: none;
  }

  .social__item-link:hover,
  .social__item-link:focus {
    background-color: var(--basic-dark-blue);
  }

  .social__item-link:active {
    background-color: var(--basic-extra-blue);
  }
  .ssocial__item-link img{
    opacity: 0.3;
  }

  .copyright {
    display: flex;
    align-items: center;
  }

  .copyright__link {
    margin-left: 8px;
  }

.copyright__link:hover img{
  display: none;
}

.copyright__link:active img {
  display: none;
}
.copyright__link::before {
  content: "";
  background-image: url("img/logo-htmlacademy-hover.svg");
  width: 115px;
  height: 41px;

}

.copyright__link:hover::before {
  display: block;
}
.copyright__link:active::before {
  display: block;
  background-image: url("img/logo-htmlacademy-active.svg");
  width: 115px;
  height: 41px;
}